@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#admin {
    background: url("image/gv2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    padding-bottom: 5rem;
}
.logo {
    width: 150px;
    height: 150px;
}
.CGMh1 {
    padding: 2rem 0 1rem 0;
    font-family: 'Orbitron', sans-serif;
    color: #353535;
    font-size: 60px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
.cgmadmin {
    text-align: center;
    letter-spacing: 4px;
    color: white;
    text-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.8);
}
.addash {
    font-family: 'Orbitron', sans-serif;
    border: 0 solid black;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1rem 2rem 1rem 2rem;
    background: linear-gradient(145deg, #020049, #2427ff);
    box-shadow:  1px 7px 4px black;
}
.inner {
    border: 0 solid black;
    border-radius: 30px;
    background: #e6e6e6;
    padding-top: 2rem;
    padding-bottom: 1rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 1);
}
p a {
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    color: white;
}
.btn:not(:last-child) {
    margin-bottom: 1rem;
}
.btn {
    text-align: center;
    border: 0 solid black;
    padding: 10px 0 10px 0;
    cursor: pointer;
    margin-left: 15%;
    margin-right: 15%;
    border-top-width: 2px;
    border-top-color: #020049;
    border-radius: 0 0 5px 5px;
    background: hsl(0 0% 0% / 0.8);
}
.btn:hover {
    background: linear-gradient(145deg, #020049, #2427ff);
}
.logout{
    position: relative;
    padding: 5px 2rem 5px 2rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    left: 1rem;
    top: 3rem;
    border-radius: 2rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
.logout a {
    text-decoration: none;
    color: black;
}
.logout a:hover {
    color: white;
}
.logout:hover {
    background-color: transparent;
    color: white;
}
