@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*update form*/
#upload {
    background: url("image/wwww.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: auto;
    min-height: 100vh;
    padding-bottom: 10rem;
}
.pinakalabas {
    position: relative;
    top: 5rem;
    background: linear-gradient(145deg, #020049, #2427ff);
    font-family: 'Orbitron', sans-serif;
    border: 0 solid black;
    border-radius: 0 0 20px 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    box-shadow: 5px 30px 40px rgba(0, 0, 0, 1);
}
.labas {
    border: 0 solid black;
    border-radius: 0 0 20px 20px;
    background: #e6e6e6;
    padding: 2rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
.isang {
    margin: 1rem 0;
}
.isang input {
    height: 45px;
    width: 100%;
    font-size: 17px;
    letter-spacing: 3px;
    color: black;
    border-color: black;
    font-family: 'Orbitron', sans-serif;
    padding: 5px 5px 5px 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 3px ;
    transition: all 0.5s ease;
}
.isang input:focus {
    border-color: #020049;
}
.isang textarea {
    height: 100px;
    width: 100%;
}
.isang textarea:focus {
    border-color: #020049;
}
.pinakalabas textarea {
    font-size: 12px;
    letter-spacing: 3px;
    color: black;
    border-color: black;
    font-family: 'Orbitron', sans-serif;
    padding: 5px 5px 5px 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 3px ;
    transition: all 0.5s ease;
}
#send {
    font-size: 17px;
    letter-spacing: 3px;
    color: black;
    border-color: black;
    font-family: 'Orbitron', sans-serif;
    padding: 5px 100px 5px 100px;
    outline: none;
    border: 1px solid #ccc;
    border-bottom-width: 3px ;
    transition: all 0.5s ease;
    
    height: 45px;
    margin: 40px 0 5px 0;
    border-radius: 10px;
    background: linear-gradient(90deg, #2427ff, #020049);
    color: white;
}
#send:hover {
    background: linear-gradient(180deg, #020049, #2427ff);
}
.cancel {
    font-size: 17px;
    letter-spacing: 3px;
    color: black;
    border-color: black;
    font-family: 'Orbitron', sans-serif;
    padding: 5px 100px 5px 100px;
    outline: none;
    border: 1px solid #ccc;
    border-bottom-width: 3px ;
    transition: all 0.5s ease;
    
    height: 45px;
    margin: 0 0 5px 0;
    border-radius: 10px;
    background: linear-gradient(90deg, #2427ff, #020049);
    color: white;
}
.cancel:hover {
    background: linear-gradient(180deg, #020049, #2427ff);
}
.cancel a {
    text-decoration: none;
    color: white;
}
.button {
    margin: 0 auto;
}
.submit {
    text-align: center;
}
.note {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 3px;
}
