@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body {
    
}*/
#bg-image {
    background: url("image/gv2.2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: auto;
    min-height: 100vh;
    padding-bottom: 15rem;    
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background: hsl(0 0% 100% / 0.2);
    transition: 0.5s;
    z-index: 9999;
}
.sticky {
    background: hsl(0 0% 0% / 0.8);
}
.lg {
    display: none;
}
.menu {
    display: none;
}
.bur {
    display: none;
}
.logo {
    position: relative;
    color: black;
    font-size: 15px;
    padding-left: 1rem;
    font-family: 'Orbitron', sans-serif;
    transition: 0.6s;
    text-align: center;
    display: flex;
    align-items: center;
}
.logo a {
    display: flex;
    align-items: center;
}
.logoimg {
    width: 50px;
    height: 50px;
}
.sticky h1 a{
    color: white;
}
.logo a {
    text-decoration: none;
    color: black;
}
ul li {
    position: relative;
    padding: 20px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
}
ul li:hover {
    backdrop-filter: blur(1rem);
    background: hsl(0 0% 0% / 0.2);
}
.focus a {
    color: white;
}
.focus {
    background: hsl(0 0% 0% / 0.6);
}
.focus:hover {
    background: hsl(0 0% 0% / 0.6);
}
.sticky ul li:hover {
    backdrop-filter: blur(1rem);
    background: hsl(0 0% 100% / 0.2);
}
ul li a {
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 900;
    font-size: 13px;
    font-family: 'Orbitron', sans-serif;
    color: black;
    transition: 0.5s;
}
.nav, .sticky ul li a {
    color: white;
}
.givehead {
    position: relative;
    top: 5rem;
    text-align: center;
    border: 0px solid black;
    background: hsl(0 0% 0% / 0.5);
    color: white;
    padding: 1rem;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 1rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
.gvhead {
    font-family: 'Carter One', cursive;
    margin: 5%;
    font-size: 40px;
}
.text {
    font-size: 20px;
    padding-bottom: 5px;
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
    letter-spacing: 3px;
}
.verse {
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 1rem;
    letter-spacing: 5px;
    font-weight: 900;
}

/*give image and information*/
.bm {
    width: 500px;
}

.info {
    position: relative;
    top: 10rem;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.build {
    width: 500px;
    border: 0px solid black;
    background: hsl(0 0% 0% / 0.8);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
.mission {
    width: 500px;
    border: 0px solid black;
    background: hsl(0 0% 0% / 0.8);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
.bmh1 {
    text-align: center;
    margin: 5% 15% 5% 15%;
    color: white;
    font-family: 'Dela Gothic One', cursive;
    font-size: 20px;
    letter-spacing: 3px;
}
.bminfo {
    text-align: center;
    margin: 5% 15% 5% 15%;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 3px;
    font-size: 15px;
    padding-bottom: 2rem;
}
/*send tithes & offerings*/
#send {
    background: url("image/white.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    overflow-y: hidden;
}
.giveimg {
    width: 400px;
}
.sendhere {
    position: relative;
    top: 5rem;
    margin-left: 10%;
    border: 0px solid black;
    background: hsl(0 0% 0% / 0.8);
    width: 400px;
    text-align: center;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
    border-radius: 0 0 10px 10px;
}
.inner {
    color: white;
    padding: 2rem;
}
.textt {
    font-size: 15px;
    padding-bottom: 5px;
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
    letter-spacing: 2px;
}
.versee {
    font-size: 12px;
    font-family: 'Chakra Petch', sans-serif;
    padding-bottom: 1rem;
    letter-spacing: 5px;
    font-weight: 900;
    float: right;
}
.TO {
    font-family: 'Carter One', cursive;
}
Select {
    position: relative;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 900;
    color: black;
    text-align: center;
    border-color: black;
    font-family: 'Silkscreen', cursive;
    padding: 11px 5px 5px 0;
    outline: none;
    border-radius: 5px;
    border: 0 solid black;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.8);
}
select::-webkit-scrollbar {
    width: 10px;
}
select::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
select::-webkit-scrollbar-thumb {
    background: hsl(0 0% 0% / 0.8);
    border-radius: 5px;
}
select::-webkit-scrollbar-thumb:hover {
    background: hsl(0 0% 0% / 0.5);
}
/*method of sending*/

#tanauan {
    display: none;
}
#balete {
    display: none;
}
#pulilan {
    display: none;
}
#edsa {
    display: none;
}
#bacoor {
    display: none;
}
#bustos {
    display: none;
}
#cabuyao {
    display: none;
}
#candaba {
    display: none;
}
#gattaran {
    display: none;
}
#hinigaran {
    display: none;
}
#mariveles {
    display: none;
}
#nasugbo {
    display: none;
}
#navotas {
    display: none;
}
#prieto {
    display: none;
}
#sampaloc {
    display: none;
}
#sanpedro {
    display: none;
}
#starosa {
    display: none;
}
#taguig {
    display: none;
}
#tinio {
    display: none;
}
.border {
    position: relative;
    top: -30rem;
    background: hsl(0 0% 0% / 0.8);
    margin-right: 10%;
    border: 0px solid black;
    width: 600px;
    float: right;
    padding: 2rem;
    color: white;
    text-align: center;
}
.border a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 20px;
    font-family: 'Chakra Petch', sans-serif;
}
.metinfo {
    font-family: 'Carter One', cursive;
    font-weight: 900;
    letter-spacing: 3px;
}
.cgmh1 {
    font-family: 'Carter One', cursive;
    letter-spacing: 5px;
    font-size: 30px;
}
.gcash {
    font-family: 'Carter One', cursive;
    font-size: 20px;
    letter-spacing: 2px;
}
.gcash_icon {
    width: 180px;
    height: 100px;
}
.gcashNO {
    font-family: 'Silkscreen', cursive;
}
.gcash_mess {
    font-family: 'Chakra Petch', sans-serif;
}


/*Footer*/
.foot1 {
    background: linear-gradient(90deg, #D6D6D6, #414141);
    padding: 3rem 0 1rem 0;
}
.socmed {
    display: flex;
    justify-content: center;
    align-items: center;
}
.update {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    letter-spacing: 4px;
    margin-bottom: 2rem;
}
.fbyt {
    display: flex;
    font-family: 'Montserrat', sans-serif; 
}
.footimg {
    width: 40px;
    height: 40px;
    float: left;
}
.fbyt a {
    align-items: center;
    text-decoration: none;
    color: black;
    
}
.fbyt a:first-child {
    margin-right: 3rem;
    margin-left: 3rem;
}
.foot2 {
    background: #EAEAEA;
    padding: 1rem 0 1rem 0;

}
.copyright{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.copyright a{
    color: black;
    text-decoration: none;
    text-align: center;
}

@media only screen and (max-height: 900px) {
    #send {
        height: 115vh;
    }
}
@media only screen and (max-height: 770px) {
    #send {
        height: 125vh;
    }
}
@media only screen and (max-width: 1400px) {
    .logo {
        font-size: 15px;
    }
    ul li {
        padding: 11px;
    }
    ul li a {
        font-size: 12px;
    }
}
/*ipad responsive*/
@media only screen and (max-width: 1050px) {
    #bg-image{
        height: auto;
        min-height: 100vh;
        padding-bottom: 15rem;
        overflow-x: hidden;
    }
    .lg {
        display: block;
        width: 90px;
        height: 90px;
        padding-left: 2rem;
        padding-top: 2rem;
    }
    .homelg {
        width: 60px;
        height: 60px;
    }
    .logo {
        display: none;
    }
    .lg a {
        text-decoration: none;
        color: black;
    }
    
    ul li {
        display: list-item;
    }
    ul li a {
        font-size: 22px;
    }
    .nav {
        position: fixed;
        inset: 0 0 10% 50%;
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .nav[data-visible="true"] {
        transform: translateX(0%);
    }
    /*hamburger*/
    .menu {
        z-index: 10000;
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .bur {
        position: fixed;
        display: block;
        width: 25px;
        height: 3px;
        background: black;
        border-radius: 1px;
        transition: all .3s ease-in-out;
    }
    .bur::before,
    .bur::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 3px;
        background: black;
        border-radius: 1px;
        transition: all .3s ease-in-out;
    }
    .bur::before {
        transform: translateY(-5px);
    }
    .bur::after {
        transform: translateY(5px);
    }
    .menu.open .bur {
        transform: translateX(-15px);
        background: transparent;
    }
    .menu.open .bur::before {
        transform: rotate(45deg) translate(10px, -10px);
    }
    .menu.open .bur::after {
        transform: rotate(-45deg) translate(10px, 10px);
    }
    /*give image and information*/
    .info {
        display: inline-block;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-right: 0%;
    }
    /*send tithes & offerings*/
    #send {
        background: url("image/white.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        background-position: top center;
        height: auto;
        min-height: 100vh;
        padding-bottom: 10rem;
        overflow-x: hidden;
    }
    .sendhere {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    /*method of sending*/
    .border {
        position: relative;
        top: 7rem;
        float: left;
        margin-right: 0%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

/*phone responsive*/
@media only screen and (max-width: 400px) {
    #bg-image {
        height: auto;
        min-height: 100vh;
        padding-bottom: 15rem;
        overflow-x: hidden;
    }
    .homelg {
        width: 60px;
        height: 60px;
    }
    .lg {
        display: block;
        width: 60px;
        height: 60px;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .lg a {
        text-decoration: none;
        color: black;
    }
    .logo {
        display: none;
    }
    ul li {
        display: list-item;
    }
    ul li a {
        font-size: 13px;
    }
    .nav {
        position: fixed;
        inset: 0 0 10% 30%;
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .nav[data-visible="true"] {
        transform: translateX(0%);
    }
    /*hamburger*/
    .menu {
        z-index: 10000;
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .bur {
        position: fixed;
        display: block;
        width: 25px;
        height: 3px;
        background: black;
        border-radius: 1px;
        transition: all .3s ease-in-out;
    }
    .bur::before,
    .bur::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 3px;
        background: black;
        border-radius: 1px;
        transition: all .3s ease-in-out;
    }
    .bur::before {
        transform: translateY(-5px);
    }
    .bur::after {
        transform: translateY(5px);
    }
    .menu.open .bur {
        transform: translateX(-15px);
        background: transparent;
    }
    .menu.open .bur::before {
        transform: rotate(45deg) translate(10px, -10px);
    }
    .menu.open .bur::after {
        transform: rotate(-45deg) translate(10px, 10px);
    }

    .givehead {
        margin-left: 10%;
        margin-right: 10%;
    }
    .gvhead {
        font-family: 'Carter One', cursive;
        margin: 5%;
        font-size: 20px;
    }
    .text {
        font-size: 20px;
        padding-bottom: 5px;
        font-family: 'Dancing Script', cursive;
        font-weight: bolder;
        letter-spacing: 3px;
    }
    .verse {
        font-size: 12px;
        font-family: 'Chakra Petch', sans-serif;
        padding-bottom: 1rem;
        letter-spacing: 5px;
        font-weight: 900;
    }

    /*give image and information*/
    .bm {
        width: 300px;
    }
    .build {
        width: 300px;
        border: 0px solid black;
        background: hsl(0 0% 0% / 0.8);
    }
    .mission {
        width: 300px;
        border: 0px solid black;
        background: hsl(0 0% 0% / 0.8);
    }
    .bmh1 {
        text-align: center;
        margin: 5% 15% 5% 15%;
        color: white;
        font-family: 'Dela Gothic One', cursive;
        font-size: 18px;
        letter-spacing: 3px;
    }
    .bminfo {
        font-size: 12px;
    }
    /*send tithes & offerings*/
    #send {
        height: auto;
        min-height: 100vh;
        padding-bottom: 10rem;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .giveimg {
        width: 300px;
    }
    .sendhere {
        width: 300px;
    }
    Select {
        font-size: 8px;
    }
    option {
        font-size: 12px;

    }
    /*method of sending*/
    .border {
        width: 300px;
    }
    .border a {
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-size: 15px;
        font-family: 'Chakra Petch', sans-serif;
    }
    .metinfo {
        font-family: 'Carter One', cursive;
        font-weight: 900;
        letter-spacing: 3px;
    }
    .cgmh1 {
        font-family: 'Carter One', cursive;
        letter-spacing: 5px;
        font-size: 20px;
    }
    .gcash {
        font-family: 'Carter One', cursive;
        font-size: 15px;
        letter-spacing: 2px;
    }
    .gcash_icon {
        width: 180px;
        height: 100px;
    }
    .gcashNO {
        font-family: 'Silkscreen', cursive;
    }
    .gcash_mess {
        font-family: 'Chakra Petch', sans-serif;
    }
    /*Footer*/
    .foot1 {
        padding-top: 1rem;
    }
    .update {
        font-size: 14px;
    }
    .fbyt a:first-child {
        margin-left: 2rem;
    }
    .footimg {
        width: 20px;
        height: 20px;
    }
    .fbyt a {
        font-size: 10px;
    }
    .copyright a{
        font-size: 12px;
    }
}