@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body {
    
}*/
#bg-image {
    background: url("image/gv.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 1;
    height: auto;
    min-height: 100vh;
    padding-bottom: 12rem;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background: hsl(0 0% 100% / 0.2);
    transition: 0.5s;
    z-index: 9999;
}
.sticky {
    background: hsl(0 0% 0% / 0.8);
}
.lg {
    display: none;
}
.menu {
    display: none;
}
.bur {
    display: none;
}
.logo {
    position: relative;
    color: black;
    font-size: 15px;
    padding-left: 1rem;
    font-family: 'Orbitron', sans-serif;
    transition: 0.6s;
    text-align: center;
    display: flex;
    align-items: center;
}
.logo a {
    display: flex;
    align-items: center;
}
.logoimg {
    width: 50px;
    height: 50px;
}
.sticky h1 a{
    color: white;
}
.logo a {
    text-decoration: none;
    color: black;
}
ul li {
    position: relative;
    padding: 20px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
}
ul li:hover {
    backdrop-filter: blur(1rem);
    background: hsl(0 0% 0% / 0.2);
}
.focus a {
    color: white;
}
.focus {
    background: hsl(0 0% 0% / 0.6);
}
.focus:hover {
    background: hsl(0 0% 0% / 0.6);
}
.sticky ul li:hover {
    backdrop-filter: blur(1rem);
    background: hsl(0 0% 100% / 0.2);
}
ul li a {
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 900;
    font-size: 13px;
    font-family: 'Orbitron', sans-serif;
    color: black;
    transition: 0.5s;
}
.nav, .sticky ul li a {
    color: white;
}
.mshead {
    font-family: 'Orbitron', sans-serif;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    top: 5rem;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 5px;
}
/*Mission Part*/
.cont {
    position: relative;
    top: 8rem;
    border: 0 solid black;
    background: rgba(37, 45, 158, 0.4);
    padding: 2rem;
    margin: 0 5% 0;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.9);
}
.mish1 {
    color: white;
    font-size: 30px;
    margin-bottom: 1rem;
    font-family: 'Carter One', cursive;
    letter-spacing: 10px;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 1);
}
.mission {
    border: 0 solid black;
    background: hsl(0 0% 100% / 0.2);
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.reach {
    border: 0 solid black;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.9);
}
.medical {
    border: 0 solid black;
    background: hsl(0 0% 0% / 0.6);
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.9);
}
.dental {
    border: 0 solid black;
    background: hsl(0 0% 0% / 0.6);
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.9);
}
.coffee {
    border: 0 solid black;
    background: hsl(0 0% 0% / 0.6);
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.9);
}
.house {
    border: 0 solid black;
    background: hsl(0 0% 0% / 0.6);
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.9);
}
.MISpic {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.h1title {
    color: white;
    text-align: center;
    margin-top: 2rem;
    font-family: 'Paytone One', sans-serif;
}
.P_info {
    color: white;
    margin: 1rem;
    text-align: justify;
    font-family: 'Chakra Petch', sans-serif;
}
/*SERVICES PART*/
#service {
    background: url("image/wwww.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;

    height: auto;
    min-height: 100vh;
    padding-bottom: 14rem;
}
.set {
    position: relative;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    float: right;
    border: 0 solid black;
    background: linear-gradient(90deg, #2427ff, #020049);
    border-radius: 10px 0 0 10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.9);
    text-align: center;
}
.set a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    letter-spacing: 3px;
    font-family: 'Orbitron', sans-serif;
}
.set:hover {
    background: linear-gradient(180deg, #020049, #2427ff);
}

/*Footer*/
.foot1 {
    background: linear-gradient(90deg, #D6D6D6, #414141);
    padding: 3rem 0 1rem 0;
}
.socmed {
    display: flex;
    justify-content: center;
    align-items: center;
}
.update {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    letter-spacing: 4px;
    margin-bottom: 2rem;
}
.fbyt {
    display: flex;
    font-family: 'Montserrat', sans-serif; 
}
.footimg {
    width: 40px;
    height: 40px;
    float: left;
}
.fbyt a {
    align-items: center;
    text-decoration: none;
    color: black;
    
}
.fbyt a:first-child {
    margin-right: 3rem;
    margin-left: 3rem;
}
.foot2 {
    background: #EAEAEA;
    padding: 1rem 0 1rem 0;

}
.copyright{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.copyright a{
    color: black;
    text-decoration: none;
    text-align: center;
}

@media only screen and (max-width: 1400px) {
    .logo {
        font-size: 15px;
    }
    ul li {
        padding: 11px;
    }
    ul li a {
        font-size: 12px;
    }
}
/*ipad responsive*/
@media only screen and (max-width: 1050px) {
    .lg {
        display: block;
        width: 90px;
        height: 90px;
        padding-left: 2rem;
        padding-top: 2rem;
    }
    .homelg {
        width: 60px;
        height: 60px;
    }
    .logo {
        display: none;
    }
    .lg a {
        text-decoration: none;
        color: black;
    }
    ul li {
        display: list-item;
    }
    ul li a {
        font-size: 22px;
    }
    .nav {
        position: fixed;
        inset: 0 0 10% 50%;
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .nav[data-visible="true"] {
        transform: translateX(0%);
    }
    /*hamburger*/
    .menu {
        z-index: 10000;
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .bur {
        position: fixed;
        display: block;
        width: 25px;
        height: 3px;
        background: black;
        border-radius: 1px;
        transition: all .3s ease-in-out;
    }
    .bur::before,
    .bur::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 3px;
        background: black;
        border-radius: 1px;
        transition: all .3s ease-in-out;
    }
    .bur::before {
        transform: translateY(-5px);
    }
    .bur::after {
        transform: translateY(5px);
    }
    .menu.open .bur {
        transform: translateX(-15px);
        background: transparent;
    }
    .menu.open .bur::before {
        transform: rotate(45deg) translate(10px, -10px);
    }
    .menu.open .bur::after {
        transform: rotate(-45deg) translate(10px, 10px);
    }
}
/*phone responsive*/
@media only screen and (max-width: 440px) {
    #bg-image {
        height: auto;
        min-height: 100vh;
        padding-bottom: 12rem;
    }
    .homelg {
        width: 60px;
        height: 60px;
    }
    .lg {
        display: block;
        width: 60px;
        height: 60px;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .lg a {
        text-decoration: none;
        color: black;
    }
    .logo {
        display: none;
    }
    ul li {
        display: list-item;
    }
    ul li a {
        font-size: 13px;
    }
    .nav {
        position: fixed;
        inset: 0 0 10% 30%;
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .nav[data-visible="true"] {
        transform: translateX(0%);
    }
    /*hamburger*/
    .menu {
        z-index: 10000;
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .bur {
        position: fixed;
        display: block;
        width: 25px;
        height: 3px;
        background: black;
        border-radius: 1px;
        transition: all .3s ease-in-out;
    }
    .bur::before,
    .bur::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 3px;
        background: black;
        border-radius: 1px;
        transition: all .3s ease-in-out;
    }
    .bur::before {
        transform: translateY(-5px);
    }
    .bur::after {
        transform: translateY(5px);
    }
    .menu.open .bur {
        transform: translateX(-15px);
        background: transparent;
    }
    .menu.open .bur::before {
        transform: rotate(45deg) translate(10px, -10px);
    }
    .menu.open .bur::after {
        transform: rotate(-45deg) translate(10px, 10px);
    }
    .mshead {
        font-size: 15px;
        letter-spacing: 1px;
    }
    /*Mission part*/
    .cont {
        padding: 1rem;
    }
    .mish1 {
        font-size: 20px;
    }
    .mission {
        padding: 1rem;
    }
    /*Footer*/
    .foot1 {
        padding-top: 1rem;
    }
    .update {
        font-size: 14px;
    }
    .fbyt a:first-child {
        margin-left: 2rem;
    }
    .footimg {
        width: 20px;
        height: 20px;
    }
    .fbyt a {
        font-size: 10px;
    }
    .copyright a{
        font-size: 12px;
    }
}