@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#announcement {
    background: url("image/wwww.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    padding-bottom: 8rem;
}
.h1up {
    background: linear-gradient(145deg, #020049, #2427ff);
    color: white;
    padding: 10px 0 10px 0;
    text-align: center;
    border-radius: 15px;
    letter-spacing: 5px;
}
.backk {
    display: flex;
    justify-content: space-between;
}
.back {
    position: relative;
    top: 1rem;
    border: 0px solid black;
    background: linear-gradient(180deg, #020049, #2427ff);
    padding: 10px;
    width: 200px;
    border-radius: 0 15px 15px 0;
    margin-left: 2%;
}
.baack {
    position: relative;
    top: 1rem;
    border: 0px solid black;
    background: linear-gradient(180deg, #020049, #2427ff);
    padding: 10px;
    width: 200px;
    border-radius: 15px 0 0 15px;
    margin-right: 2%;
}
.inn {
    border: 0px solid black;
    background: #e6e6e6;
    padding: 10px;
    border-radius: 0 15px 15px 0;
    text-align: center;
}
.iinn {
    border: 0px solid black;
    background: #e6e6e6;
    padding: 10px;
    border-radius: 15px 0 0 15px;
    text-align: center;
}
.backbtn a {
    text-decoration: none;
    color: black;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 3px;
}
.pinakalabas {
    position: relative;
    top: 5rem;
    background: linear-gradient(145deg, #020049, #2427ff);
    font-family: 'Orbitron', sans-serif;
    border: 0 solid black;
    border-radius: 0 0 20px 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    box-shadow: 5px 30px 40px rgba(0, 0, 0, 1);
}
.labass {
    border: 0 solid black;
    border-radius: 0 0 20px 20px;
    background: #e6e6e6;
    padding: 2rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
.isang {
    margin: 1rem 0;
}
.isang input {
    height: 45px;
    width: 100%;
    font-size: 17px;
    letter-spacing: 3px;
    color: black;
    border-color: black;
    font-family: 'Orbitron', sans-serif;
    padding: 5px 5px 5px 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 3px ;
    transition: all 0.5s ease;
}
.isang input:focus {
    border-color: #020049;
}
.isang textarea {
    height: 100px;
    width: 100%;
}
.isang textarea:focus {
    border-color: #020049;
}
.pinakalabas textarea {
    font-size: 12px;
    letter-spacing: 3px;
    color: black;
    border-color: black;
    font-family: 'Orbitron', sans-serif;
    padding: 5px 5px 5px 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 3px ;
    transition: all 0.5s ease;
}
#send {
    font-size: 17px;
    letter-spacing: 3px;
    color: black;
    border-color: black;
    font-family: 'Orbitron', sans-serif;
    padding: 5px 5px 5px 15px;
    outline: none;
    border: 1px solid #ccc;
    border-bottom-width: 3px ;
    transition: all 0.5s ease;
    width: 100%;
    height: 45px;
    margin: 40px 35% 5px 35%;
    border-radius: 10px;
    background: linear-gradient(90deg, #2427ff, #020049);
    color: white;
}
#send:hover {
    background: linear-gradient(180deg, #020049, #2427ff);
}
#upload {
    background: url("image/wwww.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: auto;
    min-height: 100vh;
    padding-bottom: 10rem;
}

#send {
    font-size: 17px;
    letter-spacing: 3px;
    color: black;
    border-color: black;
    font-family: 'Orbitron', sans-serif;
    padding: 5px 100px 5px 100px;
    outline: none;
    border: 1px solid #ccc;
    border-bottom-width: 3px ;
    transition: all 0.5s ease;
    
    height: 45px;
    margin: 40px 0 5px 0;
    border-radius: 10px;
    background: linear-gradient(90deg, #2427ff, #020049);
    color: white;
}
#send:hover {
    background: linear-gradient(180deg, #020049, #2427ff);
}
.note {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 3px;
}
