@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#admin {
    background: url("image/gv2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    padding-bottom: 7rem;
}
.logo {
    width: 150px;
    height: 150px;
}
.CGMh1 {
    padding: 2rem 0 1rem 0;
    font-family: 'Orbitron', sans-serif;
    color: #353535;
    font-size: 60px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
.cgmadmin {
    text-align: center;
    letter-spacing: 4px;
    color: white;
    text-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.8);
}
.addash {
    font-family: 'Orbitron', sans-serif;
    border: 0 solid black;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1rem 2rem 1rem 2rem;
    background: linear-gradient(145deg, #020049, #2427ff);
    box-shadow:  1px 7px 4px black;
}
.inner {
    border: 0 solid black;
    border-radius: 30px;
    background: #e6e6e6;
    padding-top: 2rem;
    padding-bottom: 1rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 1);
}
p a {
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    color: white;
}
.btn:not(:last-child) {
    margin-bottom: 1rem;
}
.btn {
    text-align: center;
    border: 0 solid black;
    padding: 10px 0 10px 0;
    cursor: pointer;
    margin-left: 15%;
    margin-right: 15%;
    border-top-width: 2px;
    border-top-color: #020049;
    border-radius: 0 0 5px 5px;
    background: hsl(0 0% 0% / 0.8);
}
.btn:hover {
    background: linear-gradient(145deg, #020049, #2427ff);
}
.logout{
    position: relative;
    padding: 5px 2rem 5px 2rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    left: 1rem;
    top: 3rem;
    border-radius: 2rem;
    font-weight: 900;
    letter-spacing: 3px;
}
.logout a {
    text-decoration: none;
    color: black;
}
.logout a:hover {
    color: white;
}
.logout:hover {
    background-color: transparent;
    color: white;
}
.appoint {
    position: relative;
    top: 6rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: white;
    letter-spacing: 5px;
    font-size: 30px;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
hr {
    position: relative;
    top: 4rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/*table*/
#appointment {
    background: url("./image/white.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    padding-bottom: 5rem;
}
.labas {
    display: flex;
    justify-content: space-between;
}
.filter {
    position: relative;
    top: 1rem;
    border: 0px solid black;
    padding: 10px;
    width: 200px;
    border-radius: 0 15px 15px 0;
    margin-left: 2%;
}
.print {
    position: relative;
    top: 1rem;
    border: 0px solid black;
    padding: 10px;
    width: 200px;
    border-radius: 0 15px 15px 0;
    margin-left: 2%;
}
.inn {
    border: 0px solid black;
    background: #2427ff;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    text-align: center;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.7);
}
.pr {
    border: 0px solid black;
    background: #2427ff;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.7);
}
.inn:hover {
    background: linear-gradient(145deg, #020049, #2427ff);
}
.printbtn a {
    text-decoration: none;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 3px;
}
.backbtn a {
    text-decoration: none;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 3px;
}
.table::-webkit-scrollbar {
    width: 10px;
}
.table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
.table::-webkit-scrollbar-thumb {
    background: linear-gradient(145deg, #020049, #2427ff);
    border-radius: 5px;
}
.table::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(145deg, #2427ff, #020049);
}
.table {
    overflow-y: scroll;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: relative;
    top: 2rem;
}
.tablecont {
    position: relative;
    top: 2rem;
    font-family: 'Orbitron', sans-serif;
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.7);
}

td {
    text-align: left;
    padding: 12px 15px;
    background: #dfdfdf;
}
th {
    letter-spacing: 2px;
    text-align: left;
    padding: 12px 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.50);
    background: #020049;
    color: white;
}
tbody tr {
    border-bottom: 1px solid #020049;
}
tbody tr:last-of-type {
    border-bottom: 2px solid #020049;
}
.delete-btn {
    text-decoration: none;
    background: #020049;
    color: white;
    padding: 5px;
    font-family: 'Orbitron', sans-serif;
    border: 0 solid black;
    border-bottom-color: #8a0000;
    border-bottom-width: 2px;
}
.delete-btn:hover {
    background: red;
    border-bottom-color: #020049;
    border-bottom-width: 2px;
}
.confirm-btn {
    text-decoration: none;
    background: #0095ff;
    color: white;
    padding: 5px;
    font-family: 'Orbitron', sans-serif;
    border: 0 solid black;
    border-bottom-color: #0095ff;
    border-bottom-width: 2px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.confirm-btn:hover {
    background: rgb(2, 248, 174);
    border-bottom-color: #020049;
    border-bottom-width: 2px;
}
.confirm-btn:disabled{
    color:#fff;
    border-color: #a0a0a0;
    background-color: #7d7d7d;
  }
  .reject-btn {
    text-decoration: none;
    background: #c00000;
    color: white;
    padding: 5px;
    font-family: 'Orbitron', sans-serif;
    border: 0 solid black;
    border-bottom-color: #ffffff;
    border-bottom-width: 2px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.reject-btn:hover {
    background: rgb(248, 88, 2);
    border-bottom-color: #ffffff;
    border-bottom-width: 2px;
}
.reject-btn:disabled{
    color:#fff;
    border-color: #a0a0a0;
    background-color: #7d7d7d;
  }